// =======================
// Slurm cluster settings
// =======================

process {

    // default Slurm node config
    executor = 'slurm'
    memory   = '36 GB'
    maxRetries     = 6
    errorStrategy  = 'retry'
    maxForks = 30
    queue = 'mem'
    queueSize =	30

    // Time limits: first attempt 4h, retries 12h
    time  = { task.attempt <= 1 ? '72h' : '108h' }

    // Location for temporary folders (used in sorting, etc.)
    distillerTmpDir = './'
    // distillerTmpDir = '/tmp'

    // --------------------------
    // Per-process customisation
    // --------------------------

    withName: download_sra {
        cpus     = 2
        maxForks = 15
        queue    = 'mem'
    }

    withName: download_truncate_chunk_fastqs {
        maxForks = 10
        cpus     = 4
        memory   = '2 GB'
        queue    = 'mem'
        time     = '2h'
    }

//      withName: fastqc {
//        cpus = 12
//        memory = '16 GB'
//        queue = 'mem'
//        time = '32h'
//    }


    withName: map_parse_sort_chunks {
        cpus = 15
	queue = 'mem'
        memory = '28 GB'
	time = '5h'
	maxForks = 30
    }

    withName: merge_dedup_splitbam {
        cpus = 12
        memory = '28 GB'
        queue = 'mem'
	time = '3h'
	maxForks = 15
    }

    withName: bin_zoom_library_pairs {
        cpus = 12
        memory = '28 GB'
	time = '3h'
        maxForks = 15
    }

    withName: merge_zoom_library_group_coolers {
        cpus = 16
        memory = '36 GB'
    }
// keep other withName blocks here, but make sure they also use:
    // queue = 'htc'
}

// =======================
// Containers & tracing
// =======================

// Disable Docker
docker {
    enabled = false
}

// Enable Singularity
singularity {
    enabled    = true
    autoMounts = true
    // If you want to force a specific local image, you can add:
    // envWhitelist = 'PATH,JAVA_HOME'
    // runOptions = '--bind /beegfs,/gpfs'
    // but usually distiller-nf defines containers in nextflow.config
}

// Let Nextflow overwrite trace file between runs
trace {
    overwrite = true
}
